{% extends 'base.html' %}
{% block content %}
{% load static %}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Home Page</title>
            <link rel = 'stylesheet' type = 'text/css' media = 'screen' href = "{% static 'styles/home.css' %}">

        </head>
        <body>
        <h3>Your Recommendations :</h3>
         <div class = "resorts-grid-view">
             {% if recommender %}
                {% for rec in recommender %}
                    <div class = "grid-item">

                        <img class="card-img-top" src="{{rec.img.url}}"  alt ="Card image cap" height="320px" width="420px">

                       <b>{{rec.resort_name|upper}}</b>
                        <p> Lifts total number:  {{rec.lift_number}}</p>
                        <p>{{rec.highest_point}}</p>
                        <p>{{rec.resort_id}}</p>
                    </div>
                        <br>
                {% endfor %}
                {% else %} <h5>No resorts recommended yet ! Please rate some of them to begin with !</h5>
             {% endif %}
        </div>
        <br>
        <br>
<!--        <div>-->
<!--            <p>You have visited this resorts:</p>-->
<!--            {% for el in visited_resorts %}-->
<!--                {% for els in el.resort_choice.all %}-->
<!--                    <li> {{els.name|title}} </li>-->
<!--                {% endfor %}-->
<!--            {% endfor %}-->
<!--        </div>-->
            <br>
            <br>
            <div class = "resorts-grid-view">
                {% for resort in high_rated_resorts %}
                <div class = "grid-item">
                            {% if resort.img %}
                                <img class="card-img-top" src="{{resort.img.url}}"  alt ="Card image cap" height="300px" width="380px">
                            {% endif %}
                       <p> <b>{{resort.name|upper}} </b></p>
                       <p> <b>{{resort.id|upper}} </b></p>
                       <p> <b>{{resort.highest_point|upper}} </b></p>

                </div>
                    <br>
                {% endfor %}
            </div>

        </body>
    </html>

{% endblock %}