.resorts-grid-view{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3px;
}

.grid-item{
    text-align: center;
    padding: 28px;
    font-size: 15px;
}

.resort_info {
    font-family: Calibri;
    font-size: 16px;
}

