ul {
  list-style-type: none;
  margin: -10;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: right;
  display: inline-block;

}

li a {
  font: Calibri;
  color: white;
  text-align: center;
  padding: 5px 25px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #555;
}